/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,700");

/* --- Components design --- */
@import url(components/card.css);

/* --- Fonts --- */
body {
	font-family: "Open Sans", "Helvetica", "sans-serif";
	margin-bottom: 25px;
	background-color: #f7f7f7;
}
h1, h2, h3 {
	font-family: "Roboto", "sans-serif";
}
